streamlit
pandas
numpy
openpyxl
# for SBERT scoring
sentence-transformers
torch
spacy
# preload spaCy model (optional but speeds first run):
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl